#signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100%;
}

header {
    height: 7%;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    padding: 0 2rem 0 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
}

.logo-div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-div a {
    text-decoration: none;
}

.bank-name {
    font-size: 1.5rem;
    color: #1C398E;
}

.logo {
    font-size: 3rem;
    font-weight: 1000;
    color: #003366;
}

.login-link {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.login-link div {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--text-color2);
}

.login-link a {
    text-decoration: none;
    color: var(--primary-color2);
    font-size: 1.1rem;
}

#signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1.1rem;
    width: 100%;
    border: none;
    height: 82%;
    /* max-height:41rem ; */
}

#btns-signup-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1rem;
}

#signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 35rem;
    background-color: var(--background-color);
    height: 86%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: .5rem;
}

#footer {
    height: 7%;
    background-color: var(--background-color2);
    width: 100%;
    display: flex;
    padding: 0 2rem 0 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #dcdcdc;
    font-size: .8rem;
    color: var(--text-color2);
    letter-spacing: .5px;
}

.footer-text {
    display: flex;
    gap: 0.4rem;
}

#form-header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
    height: 18%;
}

#progress-bar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    height: 50%;
    width: 100%;
    max-width: 30rem;
    padding-top: 2rem;
}

#progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#progress-bar {
    width: 100%;
    height: .5rem;
    border-radius: .5rem;
    background-color: var(--background-color3);
}

#progress-bar-filled {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: .5rem;
}

#title-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    height: 50%;
}

.form-title {
    font-size: 2rem;
}


#terms-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    color: var(--text-color1);
}

#terms-div label {
    font-size: 0.9rem;
    width:90%;
    letter-spacing: .5px;
}

#terms-div input {
    width: 1rem;
    height: 1rem;
}

#title-div .title-para {
    color: var(--text-color2);
    font-size: .9rem;
}